body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  width: 288px;
  height: 288px;
}
.container {
  margin-top: 200px;
  background-color: #ffff;
  width: 320px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
